version: '3.8'
services:
  backend:
    build:
      context: ./backend
      dockerfile: dockerfile.backend
    ports:
      - '2001:3600'
    env_file:
      - ./backend/backend.env
    volumes:
      - ./backend:/app
      - /app/node_modules
    container_name: back-container
  frontend:
    build:
      context: ./frontend
      dockerfile: dockerfile.frontend
    ports:
      - '1501:4200'  # Map to port 4200 used by Angular
    container_name: angular-front
    depends_on:
      - backend

